/* 적응형 */
.wrapper {
  width: 1280px;
  margin: auto;
}

/* 반응형 */
.rel {
  width: 100%;
  max-width: 1280px;
  min-width: 480px;
  margin-top: 20px;
  /* border: 10px solid red; */
}

.img-float {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
