@charset "UTF-8";

/* 변수 */
:root {
  --text-primary: #111;
}

:root[data-darktheme="true"] {
  --text-primary: #f8f8f8;
}

/* 전체 */
* {
  box-sizing: border-box;
}

/* 다음 참조 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--text-primary);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}
a:active,
a:hover {
  text-decoration: none;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: inherit;
}